body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //background-color: black;
}


#canva {
  display: block;
  margin: 0 auto;

  canvas {
    display: block;
    margin: 0 auto;
  }
}